body {
  margin: 0;
}

@font-face {
  font-family: "Muli";
  src: url("../assets/fonts/Muli.ttf") format("ttf");
}

.topbar {
  padding: 10px;
  background-color: #163967;
}

.topbar__link {
  display: inline-block;
  font-family: "Muli", sans-serif;
  font-size: 13px;
  color: white;
  text-decoration: none;
  margin-right: 12px;
}

.topbar__link:hover {
  color: #e3b576;
}

.topbar__icon {
  margin-right: 15px;
}

.mainnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.mainnav__logo {
  width: 100px;
}

.mainnav__links ul {
  list-style-type: none;
}

.mainnav__links ul a {
  font-size: 25px;
  text-decoration: none;
  color: White;
  margin-bottom: 20px;
  display: inline-block;
}

.mainnav__links ul a:hover {
  color: #e3b576;
}

.mainnav__overview {
  position: absolute;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #243352;
  -webkit-transition: left 0.5s linear;
  transition: left 0.5s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999999999;
}

.mainnav__overview--special {
  left: 0;
}

.toggle {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toggle__line {
  width: 100%;
  height: 5px;
  background-color: #e3b576;
  margin-top: 10px;
}

.toggle__line:first-of-type {
  margin: 0;
}

.toggle:hover {
  cursor: pointer;
}

.close {
  font-size: 50px;
  color: white;
  position: absolute;
  right: 30px;
  top: 20px;
}

.close:hover {
  cursor: pointer;
  color: #e3b576;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider__image {
  width: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.slider__text {
  color: black;
  font-family: "Muli", sans-serif;
}

@media screen and (min-width: 780px) {
  .slider__text {
    color: white;
    font-size: 25px;
  }
}

.slider__headline {
  color: black;
  font-family: "Cormorant Garamond", serif;
}

@media screen and (min-width: 780px) {
  .slider__headline {
    color: white;
    font-size: 50px;
  }
}

.slider .container {
  margin-top: 100px;
}

@media screen and (min-width: 780px) {
  .slider .container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 150px;
    margin-top: 0;
  }
}

.slider__button {
  background-color: #dca354;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 40px;
  color: #070143;
  display: inline-block;
  text-decoration: none;
}

.cards__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  margin-right: 22px;
  margin-top: 100px;
}

@media screen and (min-width: 780px) {
  .cards__element {
    margin-top: -35px;
  }
}

.cards__element:last-of-type {
  margin-right: 0;
}

.cards__image {
  width: 50px;
  height: 50px;
}

.cards__headline {
  font-size: 20px;
  font-weight: 700;
}

.cards__text {
  font-size: 16px;
  line-height: 1.8em;
  color: #687693;
}

.contact {
  padding: 50px;
  margin-top: 150px;
}

@media screen and (min-width: 768px) {
  .contact {
    padding: 0;
  }
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 20px solid #9b8179;
  padding: 50px;
}

.contact__form input, .contact__form textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;
  padding: 10px;
}

.contact__form input:focus-visible, .contact__form textarea:focus-visible {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .contact__form input, .contact__form textarea {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.contact__button {
  background-color: #e3b576;
  border-radius: 100000px;
  padding: 20px;
  margin-top: 25px;
  text-align: center;
  color: #070143;
  display: inline !important;
}

.contact__button:hover {
  cursor: pointer;
}

.contact__content {
  margin-top: 70px;
  font-family: "Muli", sans-serif;
}

.contact__headline--special {
  margin-bottom: 25px;
}

.plan {
  margin-top: 150px;
}

.plan__content {
  font-family: "Muli", sans-serif;
  text-align: center;
  position: relative;
}

.plan__headline {
  margin-bottom: 40px;
}

@media (min-width: 720px) {
  .plan__headline {
    text-align: left;
  }
}

@media (min-width: 720px) {
  .plan__text {
    text-align: right;
  }
}

.plans {
  margin-top: 100px;
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 720px) {
  .plans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.plans__item {
  width: 400px;
  margin-top: 50px;
}

@media screen and (min-width: 720px) {
  .plans__item {
    margin: 0px;
  }
}

.plans__content {
  padding: 25px;
  background-color: #f9f9f9;
}

.plans__image {
  width: 100%;
}

.plans__headline {
  font-family: "Muli", sans-serif;
  font-size: 30px;
  text-align: center;
}

.plans__text {
  color: #687693;
  text-align: center;
  font-family: "Muli", sans-serif;
}

.plans__button {
  text-align: center;
  text-decoration: none;
  font-family: "Muli", sans-serif;
  padding: 10px;
  background-color: #e3b576;
  color: white;
  display: inline-block;
  margin-top: 30px;
}

.plans__button:hover {
  color: white;
}
/*# sourceMappingURL=style.css.map */