body {
    margin:0;
}
@font-face {
    font-family: "Muli";
    src: url("../assets/fonts/Muli.ttf") format("ttf");
  }

  @import "topbar/topbar";
  @import "navigation/mainnav";
  @import "slider/slider";
  @import "cards/cards";
  @import "contact/contact";
  @import "plan/plan";
  @import "footer/footer";